#menu-switch{
    display: none;
}
.main-header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: relative; */
    position: fixed;
}
.main-header .hb{
    width: 50px;
    height: 50px;
    background-color:rgba(98, 98, 98, 0.541);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
}
.main-header .hb span{
    width: 80%;
    height: 2px;
    background-color: white;
}
#menu-switch:checked ~ .main-header .hb{
    background-color:#A37C66;
}
.main-header .main-nav{
    display: none;
    background-color:#A37C66;
    top: 100%;
    right: 0px;
    width: 50%;
    height: 520px;
    z-index: 10;
    position: relative;
}
.main-nav-pic2{
    position: absolute;
    bottom: 0px;
    right: 50px;
    z-index: -1
}
.main-nav-pic3{
    position: absolute;
    bottom: -42px;
    right: 50px;
    width: 50%;
}
.main-nav-pic4{
    position: absolute;
    bottom: -10px;
    right: 10px;
}
.main-header .main-nav a{
    display: block;
    padding: 32px 80px;
    letter-spacing: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-decoration: underline rgba(255, 255, 255, 0.37);
    text-underline-offset: .8em;
    text-decoration-thickness: 2px;
}
#menu-switch:checked ~ .main-header .main-nav{
    display: block;
}
.logo img{
    width: 50%;
}
.fa-line{
    color:#24FF00;
}
.banner_pic img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 55%;
}
.title_area{
    text-align: center;
    position: relative;
    z-index: -1;
}
.title_area img{
    position: absolute;
    left:0px;
    width: 20%;
}
.title_area h2{
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline #24FF00;
    text-underline-offset: 0em;
    text-decoration-thickness: 12px;
    margin-top: 100px;
    margin-bottom: 40px;
}
.title_area h3{
    font-size: 28px;
    font-weight:bold;
    text-decoration: underline #24FF00;
    text-underline-offset: 0em;
    text-decoration-thickness: 8px;
}
.title_area h4{
    font-size: 18px;
    color:#6DB861;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 35px;
    margin-top: 50px;
}
.popular_explain{
    display: flex;
    justify-content: space-evenly;
}
.popular_title h3{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.popular_explain_txt{
    background-color: rgba(255, 204, 210, 0.46);
    height: 400px;
    width: 500px;
    border-radius: 80px;
    margin-top: 50px;
}
.popular_explain_txt h4{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #B71228;
    padding-top: 50px;
    padding-bottom: 20px;
}
.popular_explain_txt h5{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.popular_explain_txt p{
    font-size: 16px;
    padding: 30px 50px;
    display: inline-block;
    letter-spacing: 5px;
    line-height:35px;
}
.about_txt{
    /* text-align: center; */
    letter-spacing: 8px;
    width: 750px;
    margin-left: 250px;
    margin-bottom: 100px;
}
.about_txt h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 150px;
    padding-bottom: 50px;
}
.about_txt p{
    font-size: 18px;
    line-height: 35px;
}
.about_area{
    position: relative;
    z-index: -1;
}
.circle1{
    position: absolute;
    top:50px;
    left: 500px;
    z-index: -1;
}
.circle2{
    position: absolute;
    top:230px;
    right: 320px;
    z-index: -1;
}
.about_pic{
    position: relative;
    z-index: -1;
}
.about_pic img{
    position: absolute;
    right: 10px;
    bottom: 80px;
    width: 20%;
}
.about_explain_card{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.about_explain_txt p{
    font-size: 16px;
    letter-spacing: 5px ;
    line-height: 35px;
    padding-top: 52px;
    width: 500px;
}
.footer img{
    width: 100%;
}