#menu-switch{
    display: none;
}
.main-header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: relative; */
    position: fixed;
}
.main-header .hb{
    width: 50px;
    height: 50px;
    background-color:rgba(98, 98, 98, 0.541);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
}
.main-header .hb span{
    width: 80%;
    height: 2px;
    background-color: white;
}
#menu-switch:checked ~ .main-header .hb{
    background-color:#A37C66;
}
.main-header .main-nav{
    display: none;
    background-color:#A37C66;
    top: 100%;
    right: 0px;
    width: 50%;
    height: 520px;
    z-index: 10;
    position: relative;
}
.main-nav-pic2{
    position: absolute;
    bottom: 0px;
    right: 50px;
    z-index: -1
}
.main-nav-pic3{
    position: absolute;
    bottom: -42px;
    right: 50px;
    width: 50%;
}
.main-nav-pic4{
    position: absolute;
    bottom: -10px;
    right: 10px;
}
.main-header .main-nav a{
    display: block;
    padding: 32px 80px;
    letter-spacing: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-decoration: underline rgba(255, 255, 255, 0.37);
    text-underline-offset: .8em;
    text-decoration-thickness: 2px;
}
#menu-switch:checked ~ .main-header .main-nav{
    display: block;
}
.logo img{
    width: 50%;
}
.banner_pic img{
    display:block;
    margin: 0 auto;
    width: 55%;
}
.news_area h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}
.news_area h3{
    font-size: 22px;
    margin: 80px 0px;
    margin-left: 130px;
    letter-spacing: 10px;
}
.news_cards_area {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap:35px;
}
.news_card h4{
    font-size: 26px;
    padding: 50px 0px;
}
.news_card p{
    font-size: 18px;
    text-align: center;
    letter-spacing: 8px;
    line-height: 35px;
    padding-bottom: 40px;
}
.news_card span{
    font-size: 12px;
}
.news_cards_area :nth-child(1) >p{
    /* height: 105px; */
}
.news_cards_area_2{
    display: flex;
    /* flex-wrap: wrap; */
    place-content: center;
    gap: 20px;
}
.news_cards_area_2 :nth-child(2) >p,.news_cards_area_2 :nth-child(3) >p{
    padding-top: 85px;
}
.news_card_2{
    margin-top: 150px;
    margin-bottom: 30px;
}
.news_card_2 h4{
    font-size: 22px;
    padding-top: 30px;
}
.news_card_2 p{
    font-size: 14px;
    padding: 30px 0px;
    letter-spacing: 5px;
    line-height: 35px;
}
.news_cards_area_2 :nth-child(2) >p,
.news_cards_area_2 :nth-child(3) >p{
    text-align: center;
}
.news_card_2 span{
    font-size: 12px;
}
.news_cards_area_3{
    display: flex;
    /* flex-wrap: wrap; */
    place-content: center;
    gap: 20px;
}
.news_cards_area_3 :nth-child(2) >p,.news_cards_area_3 :nth-child(3) >p{
    padding-top: 85px;
}
.news_card_3 h4{
    font-size: 22px;
    padding-top: 30px;
}
.news_card_3 p{
    font-size: 14px;
    padding: 30px 0px;
    letter-spacing: 5px;
    line-height: 35px;
}
.news_cards_area_3 :nth-child(2) >p,
.news_cards_area_3 :nth-child(3) >p{
    text-align: center;
}
.news_card_3 span{
    font-size: 12px;
}
.news_cards_area_4{
    display: flex;
    /* flex-wrap: wrap; */
    place-content: center;
    margin-top: 30px;
    margin-bottom: 150px;
    gap: 20px;
}
.news_cards_area_4 :nth-child(2) >p,.news_cards_area_4 :nth-child(3) >p{
    padding-top: 80px;
}
.news_card_4 h4{
    font-size: 22px;
    padding: 30px 0px;
}
.news_card_4 p{
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 35px;
    padding-bottom: 30px;
}
.news_cards_area_4 :nth-child(2) >p,
.news_cards_area_4 :nth-child(3) >p{
    text-align: center;
}
.news_card_4 span{
    font-size: 12px;
}
.closedate{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 80px;
}
.date{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.date h5{
    font-size: 24px;
}
.close{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.close p{
    font-size: 24px;
}
.footer img{
    margin-top: 150px;
    width: 100%;
}