.logo img{
    width: 8%;
    position: fixed;
    z-index: 5;
}
@media screen and (max-width: 768px) {
    .logo img{
        width: 18%;
    }
}
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 5;
    height: 500px;
    top: 0;
    right: 0;
    background-color: #A37C66;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px 0;
}    
.sidepanel a {
    /* padding: 8px 32px 8px 8px; */
    text-decoration: none;
    padding: 30px 50px;
    letter-spacing: 8px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidepanel a:hover {
    color: rgba(255, 255, 255, 0.651);
    text-decoration: underline rgba(255, 255, 255, 0.37);
    text-underline-offset: .8em;
    text-decoration-thickness: 2px;
}
.sidepanel .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
}
.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #A37C66;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    position: fixed;
    z-index: 2;
}
.openbtn:hover {
    background-color:#a78b7ac2;
}
.QA_area h2{
    font-size: clamp(28px, 3.6458vw, 28px);
    font-weight: bold;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
}
.plant_pic{
    position: absolute;
    right: 240px;
    bottom:30px;
}
@media screen and (max-width: 768px) {
    .plant_pic{
        display: none;
}
}
.QA_area_title_pic{
    position: relative;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0; /* 初始狀態，完全透明 */
    }
    to {
      opacity: 1; /* 結束狀態，完全不透明 */
    }
}
@media screen and (max-width: 768px) {
    .QA_area_title_pic{
        display: none;
    }
}
@media screen and (max-width: 996px) {
    .QA_area_title_pic{
        right: 210px;
        bottom: 10px;    
    }
}
.QA_area_title_pic img{
    position: absolute;
    width: 10%;
    left: 600px;
    bottom: 12px;
}
.QA_area_pic img:nth-child(4){
    position: absolute;
    right: -120px;
    bottom: 110px;
}
.QA_cards{
    margin-left: 10%;
    margin-bottom: 5%;
}
.QA_card{
    padding: 30px 0px;
}
.collapsible{
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: clamp(18px, 2.343vw, 18px);
    font-weight: bold;
    color: #6DB861;
    letter-spacing: 3px;
    cursor: pointer;
}
.QA_card_content{
    font-size: clamp(16px,2.083vw, 16px);
    color: rgb(116, 116, 116);
    padding-top: 35px;
    letter-spacing: 2px;
    /* text-decoration: underline rgba(150, 150, 150, 0.651); */
    /* text-underline-offset: .5em;
    text-decoration-thickness: 2px; */
}
.active, .collapsible:hover{
    text-decoration: underline #6DB861;
    text-underline-offset: .5em;
    text-decoration-thickness: 2px;
}
@media screen and (max-width: 768px) {
    .active, .collapsible:hover{
        text-decoration: underline transparent;
    }
    .QA_card_content{
        letter-spacing: .2em;
        line-height: 1.5em;
    }
}
.QA_card_content{
    display: none;
    overflow: hidden;
}
.footer{
    position: relative;
}
.triangle_1 {
    width: 0;
    height: 0;  
    border-top: 150px solid transparent;
    border-bottom: 80px solid transparent;
    /* border-left: 70px solid #A37C66; */
    border-left: 70px solid #A37C66;
    position: absolute;
    z-index: 3;
    left: 0px;
}
.rectangle{
    width:100%;
    height: 100px;
    background-color: #A37C66;
    position: absolute;
    z-index: 4;
    top: 150px;
}
.triangle_2{
    width: 0;
    height: 0;  
    border-top: 150px solid transparent;
    border-bottom: 80px solid transparent;
    border-right: 70px solid #A37C66;
    border-left: 70px solid transparent;
    position: absolute;
    z-index: 3;
    right: 0px;
}
.footer_circle_1{
    width: 200px;
    height: 200px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 70px;
}
.footer_circle_2{
    width: 100px;
    height: 100px;  
    background-color: #E39C74;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 100px;
    left: 250px;
}
.footer_circle_3{
    width: 150px;
    height: 150px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 320px;
}
.footer_circle_4{
    width: 150px;
    height: 150px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 420px;
}
.footer_circle_5{
    width: 200px;
    height: 200px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 530px;
}
.footer_circle_6{
    width: 150px;
    height: 150px;  
    background-color: #E39C74;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 40px;
    right: 420px;
}
.footer_circle_7{
    width: 250px;
    height: 250px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 200px;
}
.footer_circle_8{
    width: 180px;
    height: 180px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 100px;
}
.footer_circle_9{
    width: 100px;
    height: 100px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 35px;
}
.footer_txt_card_1{
    color: rgba(255, 255, 255, 0.72);
    font-size: clamp(10px,1.302vw, 10px);
    letter-spacing: 3px;
    line-height: 20px;
    position: absolute;
    left: 90px;
    top: 165px;
    z-index: 5;
}
.footer_txt_card_2{
    color: rgba(255, 255, 255, 0.72);
    font-size: clamp(12px,1.562vw, 12px);
    letter-spacing: 3px;
    line-height: 25px;
    position: absolute;
    left: 610px;
    top: 165px;
    z-index: 5;
}
.footer_txt_card_3{
    color: rgba(255, 255, 255, 0.72);
    font-size: clamp(12px,1.562vw, 12px);
    letter-spacing: 3px;
    line-height: 25px;
    position: absolute;
    right: 80px;
    top: 165px;
    z-index: 5;
}
@media screen and (max-width: 768px) {
    .close{
        display: none;
    }
}
@media screen and (max-width: 996px) {
    .footer_txt_card_2{
        display: none;
    }
    .footer_txt_card_3{
        display: none;
    }
}
