.logo img{
    width: 8%;
    position: fixed;
    z-index: 5;
}
@media screen and (max-width: 768px) {
    .logo img{
        width: 18%;
    }
}
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #A37C66;
    overflow-x: hidden;
    transition: .5s;
    padding: 30px 0;
}    
.sidepanel a {
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 8px;
    text-decoration: none;
    font-size: clamp(22px,2.864vw, 22px);
    color: white;
    display: block;
    padding: 30px 45%;
    transition: 0.3s;
}
.sidepanel a:hover {
    color: rgba(255, 255, 255, 0.37);
    text-decoration: underline rgba(255, 255, 255, 0.37);
    text-underline-offset: .8em;
    text-decoration-thickness: 2px;
}
@media screen and (max-width: 768px) {
    .sidepanel a {
        padding: 30px 30%;
    }
}
.sidepanel .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
}
.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #A37C66;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    position: fixed;
    z-index: 2;
}
.openbtn:hover {
    background-color:#a78b7ac2;
}
.closebtn{
    position: relative;
}
.fa-xmark{
    position: absolute;
    right: 0;
    top: 0;
}

.store_info_title h2{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.store_info_title_pic{
    position: relative;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0; /* 初始狀態，完全透明 */
    }
    to {
      opacity: 1; /* 結束狀態，完全不透明 */
    }
}
@media screen and (max-width: 768px) {
    .store_info_title_pic{
        display: none;
    }
}
@media screen and (max-width: 996px) {
    .store_info_title_pic{
        right: 110px;
        top: 5px;    
    }
}
.store_info_title_pic img{
    position: absolute;
    width: 10%;
    left: 590px;
    bottom: 12px;
}
.store_info_title h3{
    font-size: 18px;
    color:#6DB861;
    text-align: center;
    letter-spacing: 8px;
    line-height: 45px;
    /* padding-bottom: 100px; */
}
.store_info_area{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
    margin-left: 30%;
    margin-right: 20%;
}
.store_info_card{
    position: relative;
}
.store_info_card h5{
    /* font-size: 28x; */
    color: rgb(122, 122, 122);
    font-weight: bold;
    position: absolute;
    top: 35px;
    left: 10px;
}
.store_info_card:nth-child(2) > h5 ,
.store_info_card:nth-child(3) > h5{
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 37px;
    left: 24px;
}
.store_info_card:nth-child(5) > h5{
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 35px;
    left: 16px;
}
.store_info_cards img{
    padding: 5px 0px;
}
.store_info_txt h5{
    color: rgb(122, 122, 122);
    font-size: 18px;
    font-weight: bold;
    padding-top: 34px;
    padding-bottom: 47px;
}
@media screen and (max-width: 768px) {
    .store_info_txt h5{
        padding: 40px 0px;
    }
    .store_info_txt h5:nth-child(2),.store_info_txt h5:nth-child(4),.store_info_txt h5:nth-child(5){
        font-size: 15px;
    }
    .store_info_area{
        margin-left: 20%;
        margin-right: 1%;    
    }
}
.googlemap{
    position: relative;
}
.here_pic{ 
    position: absolute;
    top: 100px;
    left: 565px
}
@media screen and (max-width: 768px) {
    .here_pic{ 
        display: none;
    }
}
iframe {
    margin: 50px 0px;
    margin-left: 20%;
    width: 60%;
    height: 250px;
}
.plant_pic{
    position: absolute;
    right: 0px;
    top: 10PX;
}
@media screen and (max-width: 768px) {
    .plant_pic{
        display: none;
    }
}
.footer{
    position: relative;
}
.triangle_1 {
    width: 0;
    height: 0;  
    border-top: 150px solid transparent;
    border-bottom: 80px solid transparent;
    /* border-left: 70px solid #A37C66; */
    border-left: 70px solid #A37C66;
    position: absolute;
    z-index: 3;
    left: 0px;
}
.rectangle{
    width:100%;
    height: 100px;
    background-color: #A37C66;
    position: absolute;
    z-index: 4;
    top: 150px;
}
.triangle_2{
    width: 0;
    height: 0;  
    border-top: 150px solid transparent;
    border-bottom: 80px solid transparent;
    border-right: 70px solid #A37C66;
    border-left: 70px solid transparent;
    position: absolute;
    z-index: 3;
    right: 0px;
}
.footer_circle_1{
    width: 200px;
    height: 200px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 70px;
}
.footer_circle_2{
    width: 100px;
    height: 100px;  
    background-color: #E39C74;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 100px;
    left: 250px;
}
.footer_circle_3{
    width: 150px;
    height: 150px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 320px;
}
.footer_circle_4{
    width: 150px;
    height: 150px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 420px;
}
.footer_circle_5{
    width: 200px;
    height: 200px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 530px;
}
.footer_circle_6{
    width: 150px;
    height: 150px;  
    background-color: #E39C74;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 40px;
    right: 420px;
}
.footer_circle_7{
    width: 250px;
    height: 250px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 200px;
}
.footer_circle_8{
    width: 180px;
    height: 180px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 100px;
}
.footer_circle_9{
    width: 100px;
    height: 100px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 35px;
}
.footer_txt_card_1{
    color: rgba(255, 255, 255, 0.72);
    font-size: 10px;
    letter-spacing: 3px;
    line-height: 25px;
    position: absolute;
    left: 90px;
    top: 165px;
    z-index: 5;
}
.footer_txt_card_2{
    color: rgba(255, 255, 255, 0.72);
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 25px;
    position: absolute;
    left: 610px;
    top: 165px;
    z-index: 5;
}
.footer_txt_card_3{
    color: rgba(255, 255, 255, 0.72);
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 25px;
    position: absolute;
    right: 80px;
    top: 165px;
    z-index: 5;
}
.footer{
    position: relative;
}
.triangle_1 {
    width: 0;
    height: 0;  
    border-top: 150px solid transparent;
    border-bottom: 80px solid transparent;
    /* border-left: 70px solid #A37C66; */
    border-left: 70px solid #A37C66;
    position: absolute;
    z-index: 3;
    left: 0px;
}
.rectangle{
    width:100%;
    height: 100px;
    background-color: #A37C66;
    position: absolute;
    z-index: 4;
    top: 150px;
}
.triangle_2{
    width: 0;
    height: 0;  
    border-top: 150px solid transparent;
    border-bottom: 80px solid transparent;
    border-right: 70px solid #A37C66;
    border-left: 70px solid transparent;
    position: absolute;
    z-index: 3;
    right: 0px;
}
.footer_circle_1{
    width: 200px;
    height: 200px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 70px;
}
.footer_circle_2{
    width: 100px;
    height: 100px;  
    background-color: #E39C74;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 100px;
    left: 250px;
}
.footer_circle_3{
    width: 150px;
    height: 150px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 320px;
}
.footer_circle_4{
    width: 150px;
    height: 150px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 420px;
}
.footer_circle_5{
    width: 200px;
    height: 200px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 530px;
}
.footer_circle_6{
    width: 150px;
    height: 150px;  
    background-color: #E39C74;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 40px;
    right: 420px;
}
.footer_circle_7{
    width: 250px;
    height: 250px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 200px;
}
.footer_circle_8{
    width: 180px;
    height: 180px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 100px;
}
.footer_circle_9{
    width: 100px;
    height: 100px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 35px;
}
.footer_txt_card_1{
    color: rgba(255, 255, 255, 0.72);
    font-size: 10px;
    letter-spacing: 3px;
    line-height: 20px;
    position: absolute;
    left: 75px;
    top: 165px;
    z-index: 5;
}
.footer_txt_card_2{
    color: rgba(255, 255, 255, 0.72);
    font-size: clamp(12px,1.562vw, 12px);
    letter-spacing: 3px;
    line-height: 20px;
    position: absolute;
    left: 610px;
    top: 165px;
    z-index: 5;
}
.footer_txt_card_3{
    color: rgba(255, 255, 255, 0.72);
    font-size: clamp(12px,1.562vw, 12px);
    letter-spacing: 3px;
    line-height: 20px;
    position: absolute;
    right: 80px;
    top: 165px;
    z-index: 5;
}
@media screen and (max-width: 768px) {
    .close{
        display: none;
    }
}
@media screen and (max-width: 996px) {
    .footer_txt_card_2{
        display: none;
    }
    .footer_txt_card_3{
        display: none;
    }
}
