#menu-switch{
    display: none;
}
.main-header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: relative; */
    position: fixed;
}
.main-header .hb{
    width: 50px;
    height: 50px;
    background-color:rgba(98, 98, 98, 0.541);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
}
.main-header .hb span{
    width: 80%;
    height: 2px;
    background-color: white;
}
#menu-switch:checked ~ .main-header .hb{
    background-color:#A37C66;
}
.main-header .main-nav{
    display: none;
    background-color:#A37C66;
    top: 100%;
    right: 0px;
    width: 50%;
    height: 520px;
    z-index: 10;
    position: relative;
}
.main-nav-pic2{
    position: absolute;
    bottom: 0px;
    right: 50px;
    z-index: -1
}
.main-nav-pic3{
    position: absolute;
    bottom: -42px;
    right: 50px;
    width: 50%;
}
.main-nav-pic4{
    position: absolute;
    bottom: -10px;
    right: 10px;
}
.main-header .main-nav a{
    display: block;
    padding: 32px 80px;
    letter-spacing: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-decoration: underline rgba(255, 255, 255, 0.37);
    text-underline-offset: .8em;
    text-decoration-thickness: 2px;
}
#menu-switch:checked ~ .main-header .main-nav{
    display: block;
}
.logo img{
    width: 50%;
}
.contact_title h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
}
.contact_area{
    margin-bottom: 50px;
}
.contact_title h3{
    font-size: 18px;
    color:#6DB861;
    text-align: center;
    letter-spacing: 8px;
    line-height: 45px;
    padding-bottom: 100px;
}
.contact_area_pic{
    position: relative;
    z-index: -1;
}
.contact_area_pic img:nth-child(2){
    position: absolute;
    bottom:0px;
    left: 0px;
}
.contact_area_pic img:nth-child(1){
    position: absolute;
    right: 0px;
}
.contact_txt{
    margin-left: 200px;
}
.contact_txt_name{
    font-size: 20px;
    margin: 100px;
}
.contact_txt_name input[type="text"] {
    background: #6db86142;    
    font-size: 18px; 
    padding: 0px 10px; 
    width: 250px; 
    height: 40px; 
    margin-left: 168px;
}
.contact_txt_mail{
    font-size: 20px;
    margin: 100px;
}
.contact_txt_mail input[type="email"] {
    background: #6db86142;    
    font-size: 18px; 
    padding: 0px 10px; 
    width: 250px;
    height: 40px; 
    margin-left: 10px;
}
.contact_txt_what h5{
    font-size: 22px;
    margin: 100px;
}
.checkbox_area{
    font-size: 16px;
    margin: 100px;
    margin-left: 200px;
    
}
.checkbox_area input[type="checkbox"]{
    position: absolute;
    opacity: 0;
}
.checkbox_area input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    background-color: #6db86142;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}
.checkbox_area input[type="checkbox"]:checked + label::before{ 
    content: "\2713";
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
}
.contact_txt_what_more{
    position: relative;
    /* z-index: -1; */
}
.contact_txt_what_more input[type="text"]{
    background-image: url("./img/contact_txt_bg.png");
    background-size: cover;
    border-radius: 85px;
    font-size: 20px;
    height: 200px;
    width: 470px;
    padding: 50px;
    margin-left: 180px;
    border: none;
}
.contact_txt_what_more button{
    font-size: 22px;
    border-radius: 85px;
    padding: 3px 20px;
    background-color: transparent;
    border: 1px solid #6db861;
    color: #6db861;
    position: absolute;
    bottom: 10px;
    right: 190px;
    z-index: -1;
}
.footer img{
    margin-top: 50px;
    width: 100%;
}