.logo img{
    width: 8%;
    position: fixed;
    z-index: 5;
}
@media screen and (max-width: 768px) {
    .logo img{
        width: 18%;
    }
}
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 5;
    height: 500px;
    top: 0;
    right: 0;
    background-color: #A37C66;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px 0;
    }
    .sidepanel a {
    /* padding: 8px 32px 8px 8px; */
    text-decoration: none;
    padding: 30px 50px;
    letter-spacing: 8px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: rgba(255, 255, 255, 0.651);
    text-decoration: underline rgba(255, 255, 255, 0.37);
    text-underline-offset: .8em;
    text-decoration-thickness: 2px;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #A37C66;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    position: fixed;
    z-index: 2;
}
.openbtn:hover {
    background-color:#a78b7ac2;
}

.news_area_pic{
    position: relative;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0; /* 初始狀態，完全透明 */
    }
    to {
      opacity: 1; /* 結束狀態，完全不透明 */
    }
}
@media screen and (max-width: 996px) {
    .news_area_pic{
        display: none; 
    }
}
@media screen and (max-width: 768px) {
    .news_area_pic{
        display: none;
    }
}
.news_area_pic img{
    position: absolute;
    width: 10%;
    left: 590px;
    top: -3px;
}
.news_area h2{
    font-size: clamp(28px, 3.6458vw, 28px);
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}
.news_area h3{
    font-size: clamp(16px,2.083vw, 16px);
    margin: 80px 0px;
    margin-left: 200px;
    letter-spacing: 10px;
}
.news_cards_area {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap:100px;
}
@media screen and (max-width: 996px) {
    .news_cards_area {
        justify-content: space-evenly;
    }
}
.news_card img{
    transition: transform .8s ease;
    border-radius: 35px;
}
.news_card img:hover{
    transform: scale(1.1);
}
.news_card a{
    text-decoration: none;
    display: block;
    color: #746751;
    font-weight: bold;
    font-size: clamp(22px,2.864vw, 22px);
    padding: 30px 0px;
}
.news_card a:hover{
    color: rgb(150, 150, 150);
    text-decoration: underline rgba(150, 150, 150, 0.650);
    text-underline-offset: .3em;
    text-decoration-thickness: 2px;
}
.news_card p{
    color:rgb(102, 102, 102);
    font-size: clamp(16px,2.083vw, 16px);
    text-align: center;
    letter-spacing: 8px;
    line-height: 35px;
    padding-bottom: 40px;
}
.news_card span{
    color:rgb(102, 102, 102);
    font-size: clamp(14px,1.822vw, 14px);
}
.news_cards_area_2{
    display: flex;
    place-content: center;
    gap: 30px;
}
@media screen and (max-width: 996px) {
    .news_cards_area_2{
        gap: 10px;
        margin: 0px 10px;
    }
}
@media screen and (max-width: 768px) {
    .news_cards_area_2{
        gap: 5px;
        padding: 0px 5px;
    }
}
.news_cards_area_2 :nth-child(2) >p,.news_cards_area_2 :nth-child(3) >p{
    padding-top: 80px;
}
.news_card_2{
    padding-top: 150px;
    padding-bottom: 30px;
}
.news_card_2 img{
    transform: transform .8s ease;
    border-radius: 35px;
    width: 100%;
    scroll-snap-align: start;
}
.news_card_2 img:hover{
    transform: scale(1.1);
}
.news_card_2 a{
    text-decoration: none;
    display: block;
    color: #746751;
    font-weight: bold;
    font-size: clamp(22px,2.864vw, 22px);
    padding-top: 30px;
}
.news_card_2 a:hover{
    color: rgb(150, 150, 150);
    text-decoration: underline rgba(150, 150, 150, 0.650);
    text-underline-offset: .3em;
    text-decoration-thickness: 2px;
}
.news_card_2 p{
    color:rgb(102, 102, 102);
    font-size: clamp(14px,1.822vw, 14px);
    padding: 30px 0px;
    letter-spacing: 5px;
    line-height: 35px;
}
.news_cards_area_2 :nth-child(2) >p,
.news_cards_area_2 :nth-child(3) >p{
    text-align: center;
}
.news_card_2 span{
    color:rgb(102, 102, 102);
    font-size: clamp(14px,1.822vw, 14px);
}
.news_cards_area_3{
    display: flex;
    /* flex-wrap: wrap; */
    place-content: center;
    gap: 30px;
    margin-bottom: 50px;
}
@media screen and (max-width: 996px) {
    .news_cards_area_3{
        gap: 10px;
        margin: 0px 10px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 768px) {
    .news_cards_area_3{
        gap: 5px;
        padding: 0px 5px;
    }
}
.news_card_3 img{
    transition: transform .8s ease;
    border-radius: 35px;
    width: 100%;
}
.news_card_3 img:hover{
    transform: scale(1.1);
}
.news_cards_area_3 :nth-child(2) >p,.news_cards_area_3 :nth-child(3) >p{
    padding-top: 80px;
}
.news_card_3 a{
    text-decoration: none;
    display: block;
    color: #746751;
    font-weight: bold;
    font-size: clamp(22px,2.864vw, 22px);
    padding-top: 30px;
}
.news_card_3 a:hover{
    color: rgb(150, 150, 150);
    text-decoration: underline rgba(150, 150, 150, 0.650);
    text-underline-offset: .3em;
    text-decoration-thickness: 2px;
}
.news_card_3 p{
    color:rgb(102, 102, 102);
    font-size: clamp(14px,1.822vw, 14px);
    padding: 30px 0px;
    letter-spacing: 5px;
    line-height: 35px;
}
.news_cards_area_3 :nth-child(2) >p,
.news_cards_area_3 :nth-child(3) >p{
    text-align: center;
}
.news_card_3 span{
    color:rgb(102, 102, 102);
    font-size: clamp(14px,1.822vw, 14px);
}
.news_cards_area_4{
    display: flex;
    /* flex-wrap: wrap; */
    place-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    gap: 30px;
}
@media screen and (max-width: 996px) {
    .news_cards_area_4{
        gap: 10px;
        margin: 0px 10px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 768px) {
    .news_cards_area_4{
        gap: 5px;
        padding: 0px 5px;
    }
}
.news_card_4 img{
    transition: transform .8s ease;
    border-radius: 35px;
    width: 100%;
}
.news_card_4 img:hover{
    transform: scale(1.1);
}
.news_cards_area_4 :nth-child(2) >p,.news_cards_area_4 :nth-child(3) >p{
    padding-top: 80px;
}
.news_card_4 a{
    text-decoration: none;
    display: block;
    color: #746751;
    font-weight: bold;
    font-size: clamp(22px,2.864vw, 22px);
    padding: 30px 0px;
}
.news_card_4 a:hover{
    color: rgb(150, 150, 150);
    text-decoration: underline rgba(150, 150, 150, 0.650);
    text-underline-offset: .3em;
    text-decoration-thickness: 2px;
}
.news_card_4 p{
    color:rgb(102, 102, 102);
    font-size: clamp(14px,1.822vw, 14px);
    letter-spacing: 5px;
    line-height: 35px;
    padding-bottom: 30px;
}
.news_cards_area_4 :nth-child(2) >p,
.news_cards_area_4 :nth-child(3) >p{
    text-align: center;
}
.news_card_4 span{
    color:rgb(102, 102, 102);
    font-size: clamp(14px,1.822vw, 14px);
}
.circle1{
    position: absolute;
    top:45px;
    left: 500px;
    z-index: -1;
}
.circle2{
    position: absolute;
    top:230px;
    right: 320px;
    z-index: -1;
}
.about_pic{
    position: relative;
    z-index: 1;
}
.about_pic img{
    position: absolute;
    right: 10px;
    bottom: 80px;
    width: 20%;
}
.about_explain_card{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.about_explain_txt p{
    font-size: clamp(16px,2.083vw, 16px);
    letter-spacing: 5px ;
    line-height: 35px;
    padding-top: 52px;
    width: 500px;
}
.footer{
    position: relative;
}
.triangle_1 {
    width: 0;
    height: 0;  
    border-top: 150px solid transparent;
    border-bottom: 80px solid transparent;
    /* border-left: 70px solid #A37C66; */
    border-left: 70px solid #A37C66;
    position: absolute;
    z-index: 3;
    left: 0px;
}
.rectangle{
    width:100%;
    height: 100px;
    background-color: #A37C66;
    position: absolute;
    z-index: 4;
    top: 150px;
}
.triangle_2{
    width: 0;
    height: 0;  
    border-top: 150px solid transparent;
    border-bottom: 80px solid transparent;
    border-right: 70px solid #A37C66;
    border-left: 70px solid transparent;
    position: absolute;
    z-index: 3;
    right: 0px;
}
.footer_circle_1{
    width: 200px;
    height: 200px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 70px;
}
.footer_circle_2{
    width: 100px;
    height: 100px;  
    background-color: #E39C74;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 100px;
    left: 250px;
}
.footer_circle_3{
    width: 150px;
    height: 150px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 320px;
}
.footer_circle_4{
    width: 150px;
    height: 150px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 420px;
}
.footer_circle_5{
    width: 200px;
    height: 200px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 530px;
}
.footer_circle_6{
    width: 150px;
    height: 150px;  
    background-color: #E39C74;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 40px;
    right: 420px;
}
.footer_circle_7{
    width: 250px;
    height: 250px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 200px;
}
.footer_circle_8{
    width: 180px;
    height: 180px;  
    background-color: #DBB05E;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 100px;
}
.footer_circle_9{
    width: 100px;
    height: 100px;  
    background-color: #C38765;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 35px;
}
.footer_txt_card_1{
    color: rgba(255, 255, 255, 0.72);
    font-size: clamp(10px,1.302vw, 10px);
    letter-spacing: 3px;
    line-height: 20px;
    position: absolute;
    left: 90px;
    top: 165px;
    z-index: 5;
}
.footer_txt_card_2{
    color: rgba(255, 255, 255, 0.72);
    font-size: clamp(12px,1.562vw, 12px);
    letter-spacing: 3px;
    line-height: 25px;
    position: absolute;
    left: 610px;
    top: 165px;
    z-index: 5;
}
.footer_txt_card_3{
    color: rgba(255, 255, 255, 0.72);
    font-size: clamp(12px,1.562vw, 12px);
    letter-spacing: 3px;
    line-height: 25px;
    position: absolute;
    right: 80px;
    top: 165px;
    z-index: 5;
}
@media screen and (max-width: 768px) {
    .close{
        display: none;
    }
}
@media screen and (max-width: 996px) {
    .footer_txt_card_2{
        display: none;
    }
    .footer_txt_card_3{
        display: none;
    }
}