#menu-switch{
    display: none;
}
.main-header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: relative; */
    position: fixed;
}
.main-header .hb{
    width: 50px;
    height: 50px;
    background-color:rgba(98, 98, 98, 0.541);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
}
.main-header .hb span{
    width: 80%;
    height: 2px;
    background-color: white;
}
#menu-switch:checked ~ .main-header .hb{
    background-color:#A37C66;
}
.main-header .main-nav{
    display: none;
    background-color:#A37C66;
    top: 100%;
    right: 0px;
    width: 50%;
    height: 520px;
    z-index: 10;
    position: relative;
}
.main-nav-pic2{
    position: absolute;
    bottom: 0px;
    right: 50px;
    z-index: -1
}
.main-nav-pic3{
    position: absolute;
    bottom: -42px;
    right: 50px;
    width: 50%;
}
.main-nav-pic4{
    position: absolute;
    bottom: -10px;
    right: 10px;
}
.main-header .main-nav a{
    display: block;
    padding: 32px 80px;
    letter-spacing: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-decoration: underline rgba(255, 255, 255, 0.37);
    text-underline-offset: .8em;
    text-decoration-thickness: 2px;
}
#menu-switch:checked ~ .main-header .main-nav{
    display: block;
}
.logo img{
    width: 50%;
}
.banner_pic img{
    display:block;
    margin: 0 auto;
    width: 55%;
}
.products_area h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}
.products_area h3{
    font-size: 28px;
    font-weight: bold;
    color: #6DB861 ;
    margin-left: 280px;
    margin-top:50px ;
}
.products_cards_area{
    display: flex;
    place-content: center;
    /* flex-wrap: wrap; */
    background-color: rgba(205, 164, 139, 0.52);
    border-radius: 85px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    gap: 30px;
}
.products_cards_area{
    text-align: center;
}
.products_card{
    padding-top: 20px;
}
.products_card p{
    font-size:16px ;
    font-weight: bold;
    padding: 10px 0px;
}
.products_area_pic_1{
    position: relative;
}
.products_area_pic_1 img{
    position: absolute;
    top: -7px;
    left:350px;
    width: 7%;
}
.products_area_pic_2{
    position: relative;
}
.products_area_pic_2 img{
    position: absolute;
    top: 31px ;
    right:250px;
    z-index: -1;
    width: 13%;
}
.products_area_pic_3{
    position: relative;
}
.products_area_pic_3 img{
    position: absolute;
    top: 0px;
    left:250px;
    width: 6.2%;
}
.products_area_pic_4{
    position: relative;
}
.products_area_pic_4 img{
    position: absolute;
    top: 10px;
    left:450px;
    width: 6%;
}
.icon{
    display: flex;
    justify-content: center;
    text-align: center;
}
.fa-square-instagram{
    font-size: 60px;
    color: rgb(255, 0, 183);
    padding: 125px;
}
.ig_pic{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    justify-content: space-around;
    margin: 0px 200px;
    gap: 10px;
    opacity: .5;
}
.footer img{
    margin-top: 150px;
    width: 100%;
}