#menu-switch{
    display: none;
}
.main-header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: relative; */
    position: fixed;
}
.main-header .hb{
    width: 50px;
    height: 50px;
    background-color:rgba(98, 98, 98, 0.541);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
}
.main-header .hb span{
    width: 80%;
    height: 2px;
    background-color: white;
}
#menu-switch:checked ~ .main-header .hb{
    background-color:#A37C66;
}
.main-header .main-nav{
    display: none;
    background-color:#A37C66;
    top: 100%;
    right: 0px;
    width: 50%;
    height: 520px;
    z-index: 10;
    position: relative;
}
.main-nav-pic2{
    position: absolute;
    bottom: 0px;
    right: 50px;
    z-index: -1
}
.main-nav-pic3{
    position: absolute;
    bottom: -42px;
    right: 50px;
    width: 50%;
}
.main-nav-pic4{
    position: absolute;
    bottom: -10px;
    right: 10px;
}
.main-header .main-nav a{
    display: block;
    padding: 32px 80px;
    letter-spacing: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-decoration: underline rgba(255, 255, 255, 0.37);
    text-underline-offset: .8em;
    text-decoration-thickness: 2px;
}
#menu-switch:checked ~ .main-header .main-nav{
    display: block;
}
.logo img{
    width: 50%;
}

.popular_title{
    position: relative;
    height: 350px;
    z-index: -1;
}
.popular_title h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 150px;
    position: relative;
    z-index: 1;
    
}
.popular_title_pic_1{
    position: absolute;
    bottom: 100px;
    left: 530px;
    z-index: 0;
}
.popular_title_pic_2{
    position: absolute;
    bottom: 130px;
    left: 580px;
    z-index: -1;
}
.popular_pic_area{
    text-align: center;
}
.popular_pic_area img{
    position: relative;
    z-index: -1;
    width: 40%;
}
.popular_pic_area h2{
    font-size: 32px;
    font-weight: bold;
    color: #B71228;
    margin-top: 50px;
    margin-bottom: 50px;
}
.popular_pic_area h3{
    font-size: 24px;
    font-weight: bold;
}
.discount{
    position: relative;
    z-index: -1;
}
.discount img{    
    position: absolute;
    right: 120px;
    bottom:70px;
    width: 25%;
}
.discount p{
    font-size: 20px;
    color: #FF2C83;
    position: absolute;
    text-align: center;
    right: 170px;
    bottom: 240px;
    letter-spacing: 5px;
    line-height: 35px;
}
.discount h5{
    font-size: 24px;
    font-weight: bold;
    color: #FF2C83;
    position: absolute;
    text-align: center;
    right: 165px;
    bottom:120px;
    letter-spacing: 5px;
    line-height: 55px;
}
.explain_area_1 h3{
    font-size: 24px;
    font-weight: bold;
    color: #6DB861 ;
    margin-left: 280px;
    margin-top:100px ;
}
.explain_area_1 p{
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 35px;
    background-color:rgba(255, 204, 210, 0.46);
    border-radius: 85px;
    width: 60%;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    padding: 50px 50px;
}
.explain_area_2 h3{
    font-size: 24px;
    font-weight: bold;
    color: #6DB861 ;
    margin-left: 280px;
    margin-top:100px ;
}
.explain_area_2 p{
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 35px;
    background-color:rgba(255, 204, 210, 0.46);
    border-radius: 85px;
    width: 60%;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 50px;
}
.footer img{
    width: 100%;
    margin-top: 50px;
}